.m-navbar {
	background-color: $teal;
	.m-navbar-container {
		height: 83px;
		padding: 0;
		.m-navbar-logo-container {
			align-items: center;
			display: flex;
			float: left;
			height: 83px;
			.m-navbar-logo {
				height: 50px;
			}	
		}
		.m-navbar-links {
			align-items: center;
			display: flex;
			float: right;
			height: 83px;
			list-style: none;
			li {
				align-items: center;
				display: flex;
				height: 100%;
				letter-spacing: 1px;
				padding: 1.5em;
				text-transform: uppercase;
				&:hover {
					background-color: lighten($teal, 10%);
				}
				a {
					color: $white;
					text-decoration: none;
				}
			}
		}
	}
}