/* Main Blues */
$blue: #2F859D;
$light-blue: #DCE7EE;

/* Shades of blue */
$blue-20: rgba(47, 133, 157, .2);
$blue-30: rgba(47, 133, 157, .3);
$blue-40: rgba(47, 133, 157, .4);
$blue-50: rgba(47, 133, 157, .5);
$blue-60: rgba(47, 133, 157, .6);
$blue-70: rgba(47, 133, 157, .7);
$blue-80: rgba(47, 133, 157, .8);
$blue-90: rgba(47, 133, 157, .9);

/* Secondary Colors */
$green: #CCE269;
$orange: #FCA759;

/* Monochrome Pallete */
$white: #FFFFFF;
$light-grey: #DDDDDD;
$grey: #888888;
$black: #4F4F4F;
$abs-black: #000000;

/* New Colors */
$teal: #418B8D;
$light-teal: #A9E2E4;
$light-grey-teal: #DAEBEB;
$lime: #E8E963;