// Import fonts
@import url("_base/_fonts/_museo_slab/font.css");
@import url("_base/_fonts/_museo/font.css");
@import url("_base/_fonts/_bebas_neue/font.css");

// Typography Variables
$default-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size:	14px;
$line-height: $font-size * 1.5;
$text-color: $black;