// Import fonts
@import url("./fonts/museo_slab/font.css");
@import url("./fonts/museo/font.css");
@import url("./fonts/bebas_neue/font.css");

// Typography Variables
$default-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:	14px;
$line-height: $font-size * 1.5;
$text-color: $black;