// Doesn't allow padding to surpass specified width
* {
	box-sizing: border-box;
}

// Preset Tags

body {
	color: $text-color;
	font-family: $default-font;
	font-size: $font-size;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: .5px;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-family: Museo, 'Museo Slab', $default-font;
	font-weight: 500;
	letter-spacing: initial;
	margin-bottom: .5em;
	&.low-margin {
        margin-bottom: .25em;
    }
    &.high-margin {
        margin-bottom: .75em;
    }
    &.center {
        text-align: center;
    }
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

// Links
a {
	color: $text-color;
	text-decoration: underline;
	&:hover {
        color: $grey;
        @include prefix(transition, all .25s);
    }
    &:visited {
		color: $grey;
	}
	&:visited:hover {
		color: $light-grey;
	}	
}

// Text Elements
p {
	margin-bottom: $line-height;
	&:last-child {
		margin-bottom: 0;
	}
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
ul {
	list-style: disc outside;
	padding-left: 3em;
    @include mobile(sm) {
    	padding-left: 2em;
    }
}
ol {
	list-style: decimal outside;
	padding-left: 3em;
    @include mobile(sm) {
    	padding-left: 2em;
    }
}

// Background Colors
.blue {
	background-color: $blue;
}
.light-grey {
	background-color: $light-grey;
}